.inputContainer {
    background-color: lightgrey;
    margin: 20px;

    font-size: 1.2rem;
    outline: none;
    padding: 5px;

}

.input {
    border: skyblue 2px solid;
    width: calc(100% - 10px);
}
